/* Google Fonts */


/* Fontes Utilizadas */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');


/* Variáveis de Fonts */
:root {
    --fonte-memu: "Libre Franklin", sans-serif;
    --fonte-menun: "Story Script", sans-serif;
}


/* tema escruro */
:root, :root[data-theme='dark'] {
    --cor-fundo: #c59f15;
    --cor-fundo-secundaria: #494743;
    --cor-txt-menu: #ffffff;
    --cor-icone: #fff;
    --cor-titulo: #fff;
    --destaque-icone: #ffc400;
    /* o "a" em rgba significa alpha, representando a transparência */
    --cor-borda: #c5c3c3;
    
}


/* tema claro */
:root[data-theme='light'] {
    --cor-fundo: #f8cd57;
    --cor-fundo-secundaria: #ffffff;
    --cor-titulo: #000;
    --cor-icone: #2b2929;
    --cor-borda: #000000;
}


/* Filtro cor do Logo, se for um arquivo alterável, como SVG
html [data-theme='light'] .logo {
    filter: invert(1); Faz a inversão da cor que está
}

*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;   
}

.carousel .carousel-item {
    height: 60vh;
    min-height: 40vh; 
}

.carousel .carousel-item img,
.carousel  .carousel-item .ratio {
     /* Tamanho mínimo de 400px */
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

/* Filtro ou Overlay escuro sutil */

/* Pseudo-Elemento */
.carousel .carousel-item::before {
    content: "";
    background: #cccccc85; 
    position: absolute;
    inset: 0; /* Define os valores de cada direção */

    /* Posições podem ser alteradas por direções discriminadas */
}

.carousel .carousel-caption{
    position: absolute;
    inset: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;

}

.carousel h5 {
    font-size: 5rem;
    color: #ffd666;
}

.carousel p {
    font-size: 2.5rem;
}

.carousel h5, 
.carousel p { 
    text-shadow: 0px 2px 14px rgba(0, 0, 0, 0.719);
}

.video {
    margin: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}


.video iframe {
    aspect-ratio: 16/9;
    width: 45ww; /* tamanho responsivo para o vídeo */
    box-shadow: 2px /* Eixo X */ 3px /* Eixo Y */ 10px /* Blur */ 10px #ffffff89;
}

.complemento {
    display: flex;
    background: var(--cor-fundo);
    padding: 6rem 1rem 2rem; /* Quando tem 3 valores, o do meio é para direita e esquerda igualmente */
    margin-top: -5rem;
}

.complemento h2 {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 3rem;
    font-family: var(--fonte-menu);
    color: var(--cor-titulo);
}

#body {
background-color: var(--cor-fundo-secundaria);
}   

header {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 20%;
    /* deixa um embaixo do outro */
    display: flex;

    /* cria espaço entre itens. trabalha com horizontal */
    justify-content: space-between;

    /* alinhamento vertical */
    align-items: center;

    position: fixed;
    z-index: 200px; /* Sobreposição */
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--cor-borda);
}

#titulo {
    font-size: 6rem;
}

h1 {
    font-size: 50px;    
    text-align: center;
    color: rgb(190, 156, 0);
}
    
p {
    color: var(--cor-txt-menu);
    font-size: 1.8rem;
    font-family: var(--fonte-memu);
}

.logo img {
    margin: 0;
    padding: 0;
    width: 13rem;
    height: 13rem;
}

.header-toggle {
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--cor-icone);
}

.menu-desktop{ 
    display: flex;
    justify-content: end;
    align-items: center;
    margin: auto;
}

/* .MENU = UL */
.menu {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    margin:auto;
    /* Espaço entre itens */
    gap:20px;
}

.menu-texto {
     /* Transformação de texto */
     text-transform: capitalize;
     font-size: 1.12rem; /* = 18px */
     /* OU 1.8rem = 18px */
     /* Cada REM tem 16px */
     font-family: var(--fonte-menun);
     
}

.menu-link {
        color: var(--cor-txt-menu);
}

/* Herança */
.menu-link.active .menu-texto, .menu-link:hover{
    color: var(--cor-destaque);
}

.menu-link {
    text-decoration: none;
}

/* HOME */
#titulo  {
    color: var(--cor-titulo);
}

.menu-social {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    padding: 0;
    margin: 15px;
}

.menu-social .social-icon {
    color: var(--cor-icone);
    font-size: 1.8rem;
}
.menu-social .social-icon:hover {
    color: var(--destaque-icone);
    transition: ease-in-out 0.3s; 
    font-size: 2.1rem;
}

#home,
.vestidos {
    padding: 4rem 2rem;
}

.vestidos h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fonte-memu);
    color: var(--cor-titulo);
    font-weight: 400; /* Define espessura da fonte */
     text-transform: capitalize;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Vestidos */
.vestidos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* Voltar */
    scroll-margin-top: ;
}

.card-cover {
    display: flex;
    margin: 2rem 2rem;
    gap: 10px;
    width: 20dvw;
    height: 40dvh;
}


/* Largura até */
@media (max-width: 768px) {
    .carousel .carousel-inner {
        margin-top: -2rem;
    }

    #home {
        padding-top: 60px;
    }


}

/*Responsivo*/

/* A partir de Telas Grandes */ 
@media (min-width: 768px) {
    
    header {
        /* Cada rem indica uma direção do padding */
        padding: 1rem 10rem;
        justify-content: flex-start;
        gap: 2rem;
    }

    .menu-desktop { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .carousel .carousel-inner {
        margin-top: -4.2rem;
        padding-top: 7rem;
    }

    .complemento {
        padding: 4rem 10rem;
        margin-top: -7px;
    }
    
    /* Voltar aqui */
    .projetos {
        padding: 10rem 7rem 4rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 5rem;
    }

    .projetos h2 {
        font-size: 3.3rem;

    }

    .complemento h2 {
        font-size: 4.5rem;
    }
}

/* Telas maiores que 1200 */
@media (min-width: 1200px) {
    
    h2 {
        font-size: 8.5rem;
    }

}


@media (min-width: 1400px) {
    h1 {
        font-size: 7.5rem;
    }

    .complemento,
    .projetos {
        padding: 5rem 7rem 4rem;
        margin-top: -7rem;
    }

    .complemento h2 {
        font-size: 4.5rem;
    }
}